* {
  box-sizing: border-box;
}

.head {
  color: #406dff;
  text-align: center;
}
.about > * {
  display: block;
}

.about {
  text-align: justify;
  margin: 1rem;
  margin-top: 0;
  font-weight: 600;
}
