* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.label {
  font-weight: 600;
  padding: 0.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkBtn {
  background-color: var(--secon);
  border-radius: 8px;
  border-color: black;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  font-weight: 600;

  -webkit-box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
  box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
}

.mid-cover {
  height: 100%;
  width: 100%;
  margin: auto;
}
