* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.bcard {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  border-radius: 10px;
  padding: 1rem;
}

.head {
  color: black;
}

.smallcard {
  background-color: #7ad1f3;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
}

.grid-nav {
  padding: 1.5rem;
}

@media screen and (max-width: 480px) {
  .homeTile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
