footer {
  margin: auto;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: unset;
  padding: unset;
}

.footerLink {
  padding: 1rem;
}

.icon {
  color: black;
  padding: 1rem;
}

.legacyText {
  text-align: center;
}
