* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.ques {
  font-weight: bold;
  padding: 00.5rem;
}

.ans {
  background-color: #7ad1f3;
  align-items: center;
  width: max-content;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.mid-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.msg {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .qna {
    padding: 1rem;
  }

  .icon {
    padding: 0.5rem;
  }
}
