* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mid-cover {
  height: 100%;
  width: 100%;
  margin: auto;
}
.text-center {
  text-align: center;
}
